{% extends "base.html" %}
{% from "_render_field.html" import render_field %}
{% include 'header.html' %}
{% block title %} Learn Crud {% endblock %}

{% block head %}

{% endblock %}


{% block body %}
<div class="container  mt-5">
    <div class="jumbotron p-4">
        <h2><b>Posts</b> <button type='button' class="btn btn-success float-right" data-toggle="modal"
                data-target="#mymodal">+ Add New Post</button></h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">X</span>
            </button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        <hr>
        {% for post in postData %}
        <h2>{{ post.title }}</h2>
        {% if post.author %}
        <h4>By: {{ post.author }} on {{ post.date_posted }}</h4>
        {% else %}
        <h6>Author Unavailable on {{ post.date_posted }}</h6>
        {% endif %}
        <p style="white-space:break-spaces">{{ post.content }}</p>
        <a href="/posts/editPost/{{post.id}}" class="btn btn-outline-primary btn-xs" data-toggle="modal"
            data-target="#modalEdit{{post.id}}">Edit</a>
        <a href="/posts/deletepost/{{post.id}}" class="btn btn-outline-danger btn-xs"
            onclick="return confirm('Are you sure that you would like to delete this post?')"
            data-target="#modalDelete{{post.id}}">Delete</a>
        </td>
        </tr>
        <!-- Edit Post Form-->
        <div class="modal fade" id="modalEdit{{post.id}}" class="modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEdit">Edit Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('editPost') }}" , method="POST" nonvalidate>
                            {{ render_field(postForm.title, placeholder=postForm.title.label.text,value=post.title) }}
                            {{ render_field(postForm.author, placeholder=postForm.author.label.text,value=post.author) }}
                            {{ render_field(postForm.content, placeholder=postForm.content.label.text,value=post.content) }}
                            {{ render_field(postForm.id, value=post.id) }}
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Post</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        </hr>
        <br><br><br>
        {% endfor %}
        <!-- Create Post Form-->
        <div class="modal fade" id="mymodal" class="modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mymodalLabel">Create a New Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('new') }}" , method="POST">
                            {{ render_field(postForm.title, placeholder=postForm.title.label.text) }}
                            {{ render_field(postForm.author, placeholder=postForm.author.label.text) }}
                            {{ render_field(postForm.content, placeholder=postForm.content.label.text) }}
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Post</button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}